<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=David+Libre|Hind:400,700" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/reset_filt.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style_filt.css"> <!-- Resource style -->
	<link rel="stylesheet" href="styles.css"> <!-- Resource style -->  

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>


                                                                                                                                                                               
     <!-- Add to homescreen for Chrome on Android -->                                                                                                                          
     <meta name="mobile-web-app-capable" content="yes">                                                                                                                        
     <link rel="icon" sizes="192x192" href="images/android-desktop.png">                                                                                                       
                                                                                                                                                                               
     <!-- Add to homescreen for Safari on iOS -->                                                                                                                              
     <meta name="apple-mobile-web-app-capable" content="yes">                                                                                                                  
     <meta name="apple-mobile-web-app-status-bar-style" content="black">                                                                                                       
     <meta name="apple-mobile-web-app-title" content="Material Design Lite">                                                                                                   
     <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">                                                                                                   
                                                                                                                                                                               
     <!-- Tile icon for Win8 (144x144 + tile color) -->                                                                                                                        
     <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">                                                                        
     <meta name="msapplication-TileColor" content="#3372DF">                                                                                                                   
                                                                                                                                                                               
     <link rel="shortcut icon" href="images/favicon.png">                                                                                                                      

 <!-- ... -->
  <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery.min.js"></script>
                                                                                                                                                                               

</head>
<body>

<header class="cd-auto-hide-header">
	<div class="logo" style="padding-top:10px; padding-bottom:10px"><a href="#0"><%= image_tag("img/logo_black.png", width:"15%") %></a></div>

	<nav class="cd-primary-nav">
		<a href="#cd-navigation" class="nav-trigger">
			<span>
				<em aria-hidden="true"></em>
				Menu
			</span>
		</a> <!-- .nav-trigger -->

		<ul id="cd-navigation">
			<li> <p>The team</p> </li>
			<li> <p>Our Services</p> </li>
			<li> <p>Contact Us</p> </li>
		</ul>
	</nav> <!-- cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->

<section class="cd-hero">
	<div class="cd-hero-content" style="background-color:rgba(0,0,0,0.5); background-image:url('background.jpg'); background-size:cover">
	    <!-- form start -->

	    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
	    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso16.css" /> 

	    <!--Font Awesome (added because you use icons in your prepend/append)-->
	    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

	    <!-- Inline CSS based on choices in "Settings" tab -->
	    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

	    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	    <div class="bootstrap-iso" style="padding-left:60px; padding-top:30px; background-color:rgba(0,0,0,0)">
		<div class="container-fluid">
		    <div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
			    <form class="form-horizontal" method="get" action="/skyscanner">
				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_city" style="color:white">
					출발지
				    </label>
				    <div class="col-sm-10">
					<input class="form-control" id="dept_city" name="dept_city" placeholder="Seoul-Incheon" type="text"/>
				    </div>
				</div>

				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_city" style="color:white">
					도착지
				    </label>
				    <div class="col-sm-10">
					<select class="select form-control" id="arrv_city" name="arrv_city">
					    <option value="선택해주세요">
					    선택해주세요
					    </option>
					    <option value="madrid">
					    스페인 - 마드리드
					    </option>
					    <option value="shanghai">
					    중국 - 상하이
					    </option>
					    <option value="los-angeles-international">
					    미국 - 로스앤젤레스
					    </option>
					    <option value="rome">
					    이탈리아 - 로마
					    </option>
					    <option value="osaka">
					    일본 - 오사카
					    </option>
					</select>
				    </div>
				</div>

<!--				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_city" style="color:white">
					도착지
				    </label>
				    <div class="col-sm-10">
					<input class="form-control" id="arrv_city" name="arrv_city" placeholder="국가, 도시 또는 공항" type="text"/>
				    </div>
				</div>
-->
				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_date" style="color:white">
					가는날
				    </label>
				    <div class="col-sm-10">
					<div class="input-group">
					    <input class="form-control" id="datepicker1" name="dart_date" placeholder="YY/MM/DD" type="text"/>
					    <div class="input-group-addon">
						<i class="fa fa-calendar-check-o">
						</i>
					    </div>
					</div>
				    </div>
				</div>
				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="arr_data" style="color:white">
					오는날
				    </label>
				    <div class="col-sm-10">
					<div class="input-group">
					    <input class="form-control" id="arrv_date" name="arrv_date" placeholder="YY/MM/DD" type="text"/>
					    <div class="input-group-addon">
						<i class="fa fa-calendar-check-o">
						</i>
					    </div>
					</div>
				    </div>
				</div>
				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_city" style="color:white">
					승객 수
				    </label>
				    <div class="col-sm-10">
					<select class="select form-control" id="select" name="select">
					    <option value="1">
					    1
					    </option>
					    <option value="2">
					    2
					    </option>
					    <option value="3">
					    3
					    </option>
					    <option value="4">
					    4
					    </option>
					    <option value="5">
					    5
					    </option>
					</select>
				    </div>
				</div>
				<div class="form-group " style="width:80%">
				    <label class="control-label col-sm-2" for="dept_city" style="color:white">
					Pets
				    </label>
				    <div class="col-sm-10">
					<select class="select form-control" id="select1" name="select1">
					    <option value="1">
					    1
					    </option>
					    <option value="2">
					    2
					    </option>
					    <option value="3">
					    3
					    </option>
					</select>
				    </div>
				</div>
				<div class="form-group">
				    <div class="col-sm-10 col-sm-offset-2">
					<button class="btn btn-primary " name="submit" type="submit" style="width:200px; height:45px">
					    반려동물 동반 항공권 검색
					</button>
				    </div>
				</div>
			    </form>
			</div>
			<div class="col-md-6 col-sm-0 col-xs-0" style="padding-right:50px; padding-top:250px">    
<!--
			    <font style="color:white; font-size: 150%; text-align: left;">     
			    <strong>반려동물과 소중한 추억을 위한 여행을 즐겨보세요!</strong>
			    </font>

<div class="container">
    <div class="col-sm-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

-->

			</div>
		    </div>
		</div>
	    </div>
<!-- form end -->



	</div>
</section> <!-- .cd-hero -->

<nav class="cd-secondary-nav">
	<ul>
<!--
		<li><a class="active" href="#0">Intro</a></li>
		<li><a href="#0">Features</a></li>
		<li><a href="#0">Photos</a></li>
		<li><a href="#0">Videos</a></li>
		<li><a href="#0">Specs</a></li>
		<li><a href="#0">Support</a></li>
		<li><a href="#0">Compare</a></li>
-->
		<li><a href="#0"><font size="5">다양한 Pet sitter들을 만나보세요.</font></a></li>

	</ul>
</nav> <!-- .cd-secondary-nav -->

<main class="cd-main-content sub-nav-hero" style="padding-top:40px">
<!-- main content start -->
<div class="row">
<% Host.all.each do |h| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="height:400px">
      <img src="img-<%=h.id%>.jpg" alt="...">
      <div class="caption">
        <h3> <%= h.name %> </h3>
	<br>
        <span> <%= h.addr %> </span>
      </div>
    </div>
  </div>

<% end %>
</div>



<!-- main content end -->
</main> <!-- .cd-main-content -->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="js/main.js"></script> <!-- Resource jQuery -->




<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->         
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<script>                        
$(document).ready(function(){               
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({                 
	format: 'mm/dd/yyyy',               
	container: container,               
	todayHighlight: true,           
	autoclose: true,            
    })                          
})                              
</script>               


  <script type="text/javascript">                    
      $(function () {                                
          $('#datetimepicker1').datetimepicker({    
              daysOfWeekDisabled: [0, 6]             
          });                                        
      });                                            
  </script>                                          


<script>
$(function() {
  $( "#datepicker1" ).datepicker({
    dateFormat: 'yy/mm/dd'
  });
});
</script>

</body>
</html>
